/*
COLORS:
blue base: #0097e6;
light blue: #1ab0ff;
dark blue: #0076b3;
*/
$color-primary: #0097e6;
$color-primary-light: #1ab0ff;
$color-primary-dark: #0076b3;
$color-white: #ffff;
/*-------------------------*/
/*BASIC SETUP*/
/*-------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

/*-------------------------*/
/*HEADER*/
/*-------------------------*/

.header {
  height: 95vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/resources/css/img/concert_banner.jpg);
  background-size: cover;
  background-position: center;
  clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
  position: relative;
}

.header__logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.header__logo {
  height: 45px;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 4%;
  text-align: center;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 30px;
}

.heading-primary--main {
  display: block;
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 10px;
  animation-name: moveInLeft;
  animation-duration: 1s;
}

.heading-primary--sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 5px;
  animation-name: moveInRight;
  animation-duration: 5s;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.5);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
}

.btn--white {
  background-color: $color-white;
  color: $color-primary;
}
.btn--white:hover {
  background-color: $color-primary;
  color: $color-white;
}
/*-------------------------*/
/*SHOWS*/
/*-------------------------*/
.section-shows {
  padding: 0;
}
.shows-showcase {
  list-style: none;
  width: 100%;
}
.shows-showcase li {
  display: block;
  float: left;
  width: 25%;
}
.shows-photo {
  width: 100%;
  margin: 0;
  background-color: #000;
  overflow: hidden;
}
.shows-photo img {
  opacity: 0.9;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.shows-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
